
body{
    background:url("img-sobre.avif")no-repeat;
    background-size: cover;
    /*font-family: Arial, sans-serif;*/
    color: rgb(99, 99, 99);
    
}
#form-container{
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    width: min(900px, 90%);
    margin: 120px auto 40px;
    gap: 0;
    display: flex;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    overflow: hidden;
}
#img-background{
    flex: 1;
    background:url("img-form.png")no-repeat;
    background-size: cover;
   
}

#form-section{
    flex: 1.2;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px 24px;
    display: flex;
    align-items: center;    
    justify-content: center;
}

#form-group{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.form-field{
   display: flex;
    flex-direction: column;
    align-items: flex-start;
    

}
.form-field label{
    cursor: pointer;
    margin: 5px 0 8px;
    font-weight: 600;
}

input{
    outline: none;
    width: 80%;
    border: none;
    box-shadow: 0px 0px 15px 1px rgb(0, 0, 0 , 0.5);
    padding: 15px 25px;
    border-radius: 3.5px;
}
textarea{
    resize: none;
    width: 435px;
    height: 150px;
    outline: none;
    font-size: 16px;
    box-shadow: 0px 0px 15px 1px rgb(0, 0, 0 , 0.5);
}


button{
    width: 95%;
    padding: 10px 0px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 3.5px;
    font-size: 18px;
    
}

#btn-enviar:hover{
    width:100%;  
    box-shadow: 0px 0px 12px 1px rgb(184, 128, 32, 0.5);
}