/*redefinir as margens e prechimento padrao*/
*{
    margin: 0;
    padding: 0;


}
body{
    background: url("img/orange-green-blur-gradation-wallpaper-preview.jpg") no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: rgb(99, 99, 99);
    
}

html, body{
    height: 100%;
    display: flex;
    justify-content: center; /*alinhar horizontalemente*/
    align-items: center; /*alinhar verticalmente*/
}

  nav a {
            color: rgb(255, 255, 255);
            text-align: center;
            text-decoration: none;
            padding-right: 5px;
            
            
            
        }

    nav {
        display: flex;
        position:absolute;
        top: 0;
        text-align: center;
        margin: 25px;
        
    }

    nav a:hover{ /* Animação ao passar o cursor por cima da navegacao */
        font-size: 17px;
        color:#f3f026dc;
      
        
    }


#form-container{
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: 450px;
    display: flex;
    box-shadow: 0px 0px 15px 1px rgb(0,0,0,0.15);
}
#img-background{
    background:url("img/um-campo-de-milho-com-o-sol-se-pondo-ao-fundo_391229-5999.avif")no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

#form-section{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    

}

#form-group{
    display:flex;
    flex-direction: column;
}

.form-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.form-field, label{
    
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 5px 0px 10px 0px;  
}

input{
    outline: none;
    width: 80%;
    border: none;
    box-shadow: 0px 0px 15px 1px rgb(0, 0, 0 , 0.5);
    padding: 15px 25px;
    border-radius: 3.5px;
}
textarea{
    resize: none;
    width: 435px;
    height: 150px;
    outline: none;
    font-size: 16px;
    box-shadow: 0px 0px 15px 1px rgb(0, 0, 0 , 0.5);
}


button{
    width: 100%;
    padding: 10px 0px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 3.5px;
    font-size: 18px;
    
}

#btn-enviar:hover{
    width:100%;  
    box-shadow: 0px 0px 12px 1px rgb(184, 128, 32, 0.5);
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    
         
}

footer p{
    font-size: 13px;
    color: rgb(255, 255, 255);
}





