
body{
    background: url("img/orange-green-blur-gradation-wallpaper-preview.jpg") no-repeat;
    background-size: cover;
    /*font-family: Arial, sans-serif;*/
    color: rgb(99, 99, 99);
    
}
#form-container{
    background-color: rgb(255, 255, 255);
    width: 950px;
    height: 450px;
    display: flex;
    box-shadow: 0px 0px 15px 1px rgb(0,0,0,0.15);
}
#img-background{
    background:url("img/um-campo-de-milho-com-o-sol-se-pondo-ao-fundo_391229-5999.avif")no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

#form-section{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 90%;
    

}

#form-group{
    display:flex;
    flex-direction: column;
}

.form-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.form-field, label{
    
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 5px 0px 10px 0px;  
}

input{
    outline: none;
    width: 80%;
    border: none;
    box-shadow: 0px 0px 15px 1px rgb(0, 0, 0 , 0.5);
    padding: 15px 25px;
    border-radius: 3.5px;
}
textarea{
    resize: none;
    width: 435px;
    height: 150px;
    outline: none;
    font-size: 16px;
    box-shadow: 0px 0px 15px 1px rgb(0, 0, 0 , 0.5);
}


button{
    width: 95%;
    padding: 10px 0px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 3.5px;
    font-size: 18px;
    
}

#btn-enviar:hover{
    width:100%;  
    box-shadow: 0px 0px 12px 1px rgb(184, 128, 32, 0.5);
}