 /* Estilos Gerais */
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4; /* Cor de fundo leve */
            color: #333; /* Cor do texto principal */
            margin: 0;
            padding: 0;
        }
 
        /* Container principal para centralizar o conteúdo */
        #quadro-branco{
            max-width: 950px;
            margin: 20px auto; /* Centraliza na página */
            padding: 20px;
            background-color: #ffffff; /* Fundo branco para o conteúdo */
            box-shadow: 0px 0px 10px #4CAF50;
            border-radius: 5px;
            
        }

         div img{
            width: 100%;
            height: 400px;
            display: block;
            background-size: cover;
            
        }
        /* Cabeçalho */
        header {
            background-color: #4CAF50; /* Cor verde (associada à saúde e ODS 3) */
            color: #ffffff;
            padding: 20px;
            text-align: center;
        }

        header h1 {
            margin: 0;
            font-size: 36px;
        }
        nav a {
            color: rgb(124, 124, 124);
            text-align: center; 
            text-decoration: none;
            padding-right: 5px;
        }


        nav {
            text-align: center;
            padding-top:16px;  
        }

        nav a:hover{ /* Animação ao passar o cursor por cima da navegacao */
            font-size: 17px;
            color:#4CAF50
        }
       .centralizar iframe {
            display: block;
            width: 45%;
            height: 350px;
            border-style: none;
            margin:auto;
            padding: 16px;
            margin-top: 16px;
            box-shadow: 0px 0px 10px #4CAF50;
            border-radius:5px

        }
        

        /* Seções de Conteúdo */
        section {
            margin-bottom: 25px; /* Espaçamento entre as seções */
        }

        h2 {
            color: #4CAF50; /* Títulos de seção na cor verde */
            border-bottom: 2px solid #eee; /* Linha sutil abaixo do título */
            padding-bottom: 10px;
        }

        /* Lista de metas */
        ul {
            padding-left: 20px;    
        }

        li {
            margin-bottom: 5px; /* Espaçamento entre itens da lista */
        }

        #tabela table{
            border: solid rgb(0, 0, 0);
            border-width: 1px;
            border-radius: 5px;
            text-align: center;
        }
        
        #tabela table, th, td{
            border: solid;
            border-width: 1px;
            border-collapse: collapse;
            text-align: center;
            padding: 5px;
        }

        /* Rodapé */
        footer {
            text-align: center;
            margin-top: 20px;
            font-size: 12px;
            color: #777;
        }

        footer a{
            color:#777;
            text-decoration: none;
        }
        footer a:hover{
            font-size: 13px;
            color: rgb(107, 168, 219);
        }