html, body{
    height: 100%;
}
.page-sobre{
    background-color: rgb(20, 20, 20, 0.7);
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    background: url("img-sobre.avif")no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}
/*.container-sobre{
    
   background: rgba(255, 255, 255, 0.25); 
    backdrop-filter: blur(10px);           
    -webkit-backdrop-filter: blur(10px);

    border-radius: 20px;
    padding: 30px;
    width: 85%;
    max-width: 1100px;

    margin: 40px auto 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    box-shadow: 0 0 30px rgba(0,0,0,0.35);
    border: 1px solid rgba(255,255,255,0.35);

}*/
 
.quadrado{
    
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    border: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

table{
    border: 1px solid;
    width: 450px;
    margin: auto;
}

h1, td{
    text-align: center;
    padding: 8px;
}

table th, td{
    border: 1px solid;
    background-color: rgba(217, 211, 211, 0.309);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bolder;  
}

.bg-texto {
    display: flex;
    margin: 10px;
    gap: 5px;
    text-align: center;
}

.p{
    font-weight: bolder;
    background-color: rgba(226, 233, 228, 0.125);
    border: 1px inset rgba(219, 219, 219, 0.299);
    box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.178);
}
.dev-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}
.dev-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    padding: 15px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    width: 250px;          /* tamanho do card */
}
/* Imagens */
.dev-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;      /* evita deformação */
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.35);
}
/* Nome do dev */
.dev-card p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 0 10px black;
}
.dev-card {
    transition: 0.3s;
}

.dev-card:hover {
    transform: scale(1.05);
}