.header{
    position: fixed; top:0; left:0; width:100%;
    top: 0;
    left: 0px;
    width: 100%;
    padding: 1rem clamp(1rem, 4vw, 2rem);      /* padding responsivo */
    background: rgba(8, 83, 14, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between ;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);
}
.navbar {
    display: flex;
    width: 32%;
    align-items: center;
    gap: clamp(2rem, 2.5vw, 4rem); 
    margin-left: auto;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 200;
    transition: 0.7s ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: flex;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img img{
    position: relative;
    top: -3rem;
    width: 35vw;
    border-radius: 45%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 900px;
}
.footer {
    text-align: center;
    background: rgba(8, 83, 14, 0.7);
    top: 100%;
}